
{% extends "base.html" %}
{% block title %}Healthpark::About Us{% endblock %}
{% block content %}
		<div id="content">
			
			
			<div class="cont_row">
				<div class="main_box_title">
				<div class="main_box_title_inside">
					<strong class="main_title title_encylopedia">About HealthPark</strong>
				</div>
				</div>
				
				<div class="main_box main_box5">
					
					<div class="main_content3">
						
						
						<div class="links_row">
							<div>
								<p>We are the one stop hub for all things related to keeping you healthy. Start tracking your health online with the help of HealthPark. We want to connect people with their health using technology.</p>
							</div><!--end of links_block-->
							
						</div><!--end of links_row-->
						
					</div><!--end of main_content3-->
					
					
					
					<div class="cl"></div>
				</div><!--end of main_box5-->
				
				
				<br class="cl">
				
			</div><!--end of cont_row-->
		
		</div><!--end of content-->

	{% endblock %}
