{% extends "base.html" %}

{% block title %}

{% ifequal action 'edit' %}
Healthpark::Edit Thread

{% else %}
Healthpark::New Thread

{% endifequal %}

{% endblock %}

{% block js %}
	
{{ threadForm.media }}
	<script type="text/javascript">
				$(document).ready( function(){
					//dropmenu
					$('.nav').superfish();
	
					//slider
					$("#user_slider").jCarouselLite({
						btnPrev: ".user_prev",
						btnNext: ".user_next",
						easing: "easeInOutExpo",
						speed: 400,
						//auto: 5000,
						visible: 5,
						scroll: 1
					});
					
					
					//side title toggle
					$('.side_title').click( function(){
						$(this).toggleClass('side_title_on');
						$(this).next().slideToggle(300);
					});
					
					
					
				});
	</script>
{% endblock %}

{% block content %}

<div id="content">
			<div class="breadcrumb">
				
				<a href="/" class="bc1"><strong>home</strong></a>
				<span class="bc5"><a href="/forum/" class="bc2">Community</a></span>
				<a href="/" id="forum_bread" class="bc2" title="{{category_name}}">{{category_name}}</a>
				{% ifequal actions 'edit' %}
				 <span class="bc5" title="Edit Thread" >Edit Thread</span>
				{% else %}
				<span class="bc5" title="New Thread" >New Thread</span>
				{% endifequal %}

			</div>
			
			
			<div class="cont_row">
				<div class="cont_col1">
					<div class="main_box_title">
					<div class="main_box_title_inside">
						<strong>
						{% ifequal actions 'edit' %}
							Edit Thread
							{% else %}
							New Thread
						{% endifequal %}
						</strong>
					</div>
					</div>
					
					<div class="main_box">
						<br/><br/><br/>
						<div class="error_message" id="errors"><span id="errors_msg">
						{% if dberror %}
							<p style = "color:red">could not save thread to database</p>
							{%endif%}
							{% if emptyCategory %}
							<p style = "color:red">Please Select/Add Category.</p>
							{%endif%}
							{% if emptyThreadName %}
							<p style = "color:red">Please Enter Thread Name</p>
							{%endif%}
							{% if emptyThreadBody %}
							<p style = "color:red">Please Enter Thread Body</p>
							{%endif%}
						
						</span></div>
						  <div class="para">
							<form action="" method="post" enctype="multipart/form-data" onsubmit="return postFormValidation('{{action}}');">{% csrf_token %}
							{{threadForm.as_p}}
							</br>
							{% ifequal actions 'edit' %}
							<input type="submit" value="Edit Thread" class="input_submit">
							{% else %}
							<input type="submit" value="Post Thread" class="input_submit">
							{% endifequal %}
							<input type="hidden" value="{{cat_id}}" id="cat_id"/>
							</form>
							
						</div><!--end of para-->

						<div class="cl"></div>
					</div><!--end of main_box-->
					
				</div><!--end of cont_col1-->
				
				
				
				<div class="cont_col2">
					<div class="ad1"><a href="javascript:void(0)"><img src="{{ MEDIA_URL }}images/media/ad1.gif" alt=""></a></div>
				</div><!--end of cont_col2-->
				
				<br class="cl">
				
			</div><!--end of cont_row-->
		
		</div><!--end of content-->
		
{% endblock %}


<!-- <html>

<head>
<title>New Thread</title>
<header>New Thread</header>
</head>

<body>
{% if dberror %}
<p style = "color:red">could not save thread to database</p>
{%endif%}
<form action="" method="post">{% csrf_token %}
{{threadForm.as_p}}
</br>
<input type="submit" value="Post Thread">
</form>
</body>

</html> -->