<html>
<head>
<title>Edit External Ads</title>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
	$(function() {
		$("#djangocombo").find("select").bind("change", function() {
			$("#myHiddenFieldValue").val("True");
			$("#form1").submit();
		});
	});
</script>
</head>
<body>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<h3>Edit External Ads</h3>
	{{error}}
	<form id="form1" action="" method="post">
		{% csrf_token %}
		<div id='djangocombo'>
			{{form.as_p}}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
				type="submit" value="Save">
		</div>
	</form>
	<form action="/admanager/" method="LINK">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
			type="submit" value="Back To Ad-manager"></br>
		</br>
	</form>
</body>
</html>